minimal_agents/examples/chapter-9/dify/出题小助手.yml
app:
  description: 可以自动出题的小助手。
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 出题小助手
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1775816955437-source-1775816969213-target
      source: '1775816955437'
      sourceHandle: source
      target: '1775816969213'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1775816969213-source-1775816973133-target
      source: '1775816969213'
      sourceHandle: source
      target: '1775816973133'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 输入内容
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: input_content
      height: 109
      id: '1775816955437'
      position:
        x: 0
        y: 15
      positionAbsolute:
        x: 0
        y: 15
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 任务描述
            ja_JP: 任务描述
            pt_BR: 任务描述
            zh_Hans: 任务描述
          label:
            en_US: 待完成的任务
            ja_JP: 待完成的任务
            pt_BR: 待完成的任务
            zh_Hans: 待完成的任务
          llm_description: 任务描述
          max: null
          min: null
          name: task
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指定的知识库
            ja_JP: 指定的知识库
            pt_BR: 指定的知识库
            zh_Hans: 指定的知识库
          label:
            en_US: 搜索的知识库
            ja_JP: 搜索的知识库
            pt_BR: 搜索的知识库
            zh_Hans: 搜索的知识库
          llm_description: 指定的知识库
          max: null
          min: null
          name: KB
          options:
          - icon: null
            label:
              en_US: AI
              ja_JP: AI
              pt_BR: AI
              zh_Hans: AI
            value: AI
          - icon: null
            label:
              en_US: Agent
              ja_JP: Agent
              pt_BR: Agent
              zh_Hans: Agent
            value: Agent
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 输入格式
            ja_JP: 输入格式
            pt_BR: 输入格式
            zh_Hans: 输入格式
          label:
            en_US: 输入格式
            ja_JP: 输入格式
            pt_BR: 输入格式
            zh_Hans: 输入格式
          llm_description: 输入格式
          max: null
          min: null
          name: input_schema
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 输入内容
            ja_JP: 输入内容
            pt_BR: 输入内容
            zh_Hans: 输入内容
          label:
            en_US: 输入内容
            ja_JP: 输入内容
            pt_BR: 输入内容
            zh_Hans: 输入内容
          llm_description: 输入内容
          max: null
          min: null
          name: input_content
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 输出格式
            ja_JP: 输出格式
            pt_BR: 输出格式
            zh_Hans: 输出格式
          label:
            en_US: 输出格式
            ja_JP: 输出格式
            pt_BR: 输出格式
            zh_Hans: 输出格式
          llm_description: 输出格式
          max: null
          min: null
          name: output_schema
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 额外系统提示词
            ja_JP: 额外系统提示词
            pt_BR: 额外系统提示词
            zh_Hans: 额外系统提示词
          label:
            en_US: 额外的系统提示
            ja_JP: 额外的系统提示
            pt_BR: 额外的系统提示
            zh_Hans: 额外的系统提示
          llm_description: 额外系统提示词
          max: null
          min: null
          name: extra_system_prompt
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 额外的搜索键
            ja_JP: 额外的搜索键
            pt_BR: 额外的搜索键
            zh_Hans: 额外的搜索键
          label:
            en_US: 额外的搜索键
            ja_JP: 额外的搜索键
            pt_BR: 额外的搜索键
            zh_Hans: 额外的搜索键
          llm_description: 额外的搜索键
          max: null
          min: null
          name: extra_query_key
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: 是否使用多扩展查询（MQE）
            ja_JP: 是否使用多扩展查询（MQE）
            pt_BR: 是否使用多扩展查询（MQE）
            zh_Hans: 是否使用多扩展查询（MQE）
          llm_description: ''
          max: null
          min: null
          name: use_mqe
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: 是否使用假设文档嵌入
            ja_JP: 是否使用假设文档嵌入
            pt_BR: 是否使用假设文档嵌入
            zh_Hans: 是否使用假设文档嵌入
          llm_description: ''
          max: null
          min: null
          name: use_hyde
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          KB: ''
          extra_query_key: ''
          extra_system_prompt: ''
          input_content: ''
          input_schema: ''
          output_schema: ''
          task: ''
          use_hyde: ''
          use_mqe: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 4fece2eb-b63a-44a3-b4fb-5135c0c62b87
        provider_name: 格式化输入输出工作流
        provider_type: workflow
        selected: false
        title: 格式化输入输出工作流
        tool_configurations: {}
        tool_description: 以JSON格式，动态确认输入和输出的工作流。
        tool_label: 格式化输入输出工作流
        tool_name: formatter
        tool_node_version: '2'
        tool_parameters:
          KB:
            type: constant
            value: Agent
          extra_query_key:
            type: mixed
            value: ''
          extra_system_prompt:
            type: mixed
            value: 无论是选择题、填空题还是主观题，在答案部分都应该直接输出答案，例如选择题：“A”；填空题：“填入的内容”；主观题：“回答的内容”。生成的题目不需要带题序号。选择题在题目部分务必输出四个选项，一个选项一行。选择题在末尾不需要带括号，选项也不需要带括号，例如“A.
              安全”；判断题的答案用中文，“正确”或者“错误”。
          input_content:
            type: mixed
            value: '{{#1775816955437.input_content#}}'
          input_schema:
            type: mixed
            value: '{"topic": "题目主题", "type": "题目类型", "num": "题目数量"}'
          output_schema:
            type: mixed
            value: '{"question": "题目列表List", "answer": "答案列表List"}'
          task:
            type: mixed
            value: 根据给定要求生成题目
          use_hyde:
            type: constant
            value: true
          use_mqe:
            type: constant
            value: true
        type: tool
      height: 52
      id: '1775816969213'
      position:
        x: 342
        y: 44
      positionAbsolute:
        x: 342
        y: 44
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1775816969213'
          - success
          value_type: boolean
          variable: success
        - value_selector:
          - '1775816969213'
          - msg
          value_type: string
          variable: msg
        - value_selector:
          - '1775816969213'
          - output
          value_type: string
          variable: output
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1775816973133'
      position:
        x: 684
        y: 0
      positionAbsolute:
        x: 684
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 286.4025814992307
      y: 297.62930801967843
      zoom: 0.923655537541026
  rag_pipeline_variables: []
